body { overflow-y: scroll; }

.jasmine_html-reporter { background-color: #eee; padding: 5px; margin: -8px; font-size: 15px; font-family: Monaco, "Lucida Console", monospace; line-height: 17px; color: #333; }
.jasmine_html-reporter a { text-decoration: none; }
.jasmine_html-reporter a:hover { text-decoration: underline; }
.jasmine_html-reporter p, .jasmine_html-reporter h1, .jasmine_html-reporter h2, .jasmine_html-reporter h3, .jasmine_html-reporter h4, .jasmine_html-reporter h5, .jasmine_html-reporter h6 { margin: 0; line-height: 14px; }
.jasmine_html-reporter .banner, .jasmine_html-reporter .symbol-summary, .jasmine_html-reporter .summary, .jasmine_html-reporter .result-message, .jasmine_html-reporter .spec .description, .jasmine_html-reporter .spec-detail .description, .jasmine_html-reporter .alert .bar, .jasmine_html-reporter .stack-trace { padding-left: 9px; padding-right: 9px; }
.jasmine_html-reporter .banner { position: relative; }
.jasmine_html-reporter .banner .title { margin-right: 5px; background: url("trackyourtracks-logo.png") no-repeat, none; -moz-background-size: 100%; -o-background-size: 100%; -webkit-background-size: 100%; background-size: 100%; display: block; float: left; width: 50px; height: 50px; }
.jasmine_html-reporter .banner .version { margin-left: 14px; position: relative; top: 6px; }
.jasmine_html-reporter #jasmine_content { position: fixed; right: 100%; }
.jasmine_html-reporter .version { color: #aaa; }
.jasmine_html-reporter .banner { margin-top: 14px; }
.jasmine_html-reporter .duration { color: #fff; float: right; line-height: 28px; padding-right: 9px; margin-top: 5px; }
.jasmine_html-reporter .symbol-summary { overflow: hidden; *zoom: 1; margin: 0px 0; padding-bottom: 10px; }
.jasmine_html-reporter .symbol-summary li { display: inline-block; height: 18px; width: 24px; font-size: 16px; }
.jasmine_html-reporter .symbol-summary li.passed { font-size: 36px; }
.jasmine_html-reporter .symbol-summary li.passed:before { color: #007069; content: "\02022"; }
.jasmine_html-reporter .symbol-summary li.failed { line-height: 30px; }
.jasmine_html-reporter .symbol-summary li.failed:before { color: #ca3a11; content: "\d7"; font-weight: bold; margin-left: -1px; }
.jasmine_html-reporter .symbol-summary li.disabled { font-size: 30px; }
.jasmine_html-reporter .symbol-summary li.disabled:before { color: #bababa; content: "\02022"; }
.jasmine_html-reporter .symbol-summary li.pending { line-height: 30px; }
.jasmine_html-reporter .symbol-summary li.pending:before { color: #ba9d37; content: "*"; }
.jasmine_html-reporter .symbol-summary li.empty { font-size: 30px; }
.jasmine_html-reporter .symbol-summary li.empty:before { color: #ba9d37; content: "\02022"; }
.jasmine_html-reporter .run-options { float: right; margin-right: 5px; border: 1px solid #8a4182; color: #8a4182; position: relative; line-height: 20px; }
.jasmine_html-reporter .run-options .trigger { cursor: pointer; padding: 8px 16px; }
.jasmine_html-reporter .run-options .payload { position: absolute; display: none; right: -1px; border: 1px solid #8a4182; background-color: #eee; white-space: nowrap; padding: 4px 8px; }
.jasmine_html-reporter .run-options .payload.open { display: block; }
.jasmine_html-reporter .bar { margin-top: 15px; padding-left: 15px; padding-top: 4px; line-height: 36px; font-size: 18px; display: block; color: #eee; }
.jasmine_html-reporter .bar.failed { background-color: #ca3a11; }
.jasmine_html-reporter .bar.passed { background-color: #007069; }
.jasmine_html-reporter .bar.skipped { background-color: #bababa; }
.jasmine_html-reporter .bar.errored { background-color: #ca3a11; }
.jasmine_html-reporter .bar.menu { background-color: #fff; color: #aaa; }
.jasmine_html-reporter .bar.menu a { color: #333; }
.jasmine_html-reporter .bar a { color: white; }
.jasmine_html-reporter.spec-list .bar.menu.failure-list, .jasmine_html-reporter.spec-list .results .failures { display: none; }
.jasmine_html-reporter.failure-list .bar.menu.spec-list, .jasmine_html-reporter.failure-list .summary { display: none; }
.jasmine_html-reporter .running-alert { background-color: #666; }
.jasmine_html-reporter .results { margin-top: 14px; }
.jasmine_html-reporter.showDetails .summaryMenuItem { font-weight: normal; text-decoration: inherit; }
.jasmine_html-reporter.showDetails .summaryMenuItem:hover { text-decoration: underline; }
.jasmine_html-reporter.showDetails .detailsMenuItem { font-weight: bold; text-decoration: underline; }
.jasmine_html-reporter.showDetails .summary { display: none; }
.jasmine_html-reporter.showDetails #details { display: block; }
.jasmine_html-reporter .summaryMenuItem { font-weight: bold; text-decoration: underline; }
.jasmine_html-reporter .summary { margin-top: 14px; }
.jasmine_html-reporter .summary ul { list-style-type: none; margin-left: 14px; padding-top: 0; padding-left: 0; }
.jasmine_html-reporter .summary ul.suite { margin-top: 7px; margin-bottom: 7px; }
.jasmine_html-reporter .summary li.passed a { color: #007069; }
.jasmine_html-reporter .summary li.failed a { color: #ca3a11; }
.jasmine_html-reporter .summary li.empty a { color: #ba9d37; }
.jasmine_html-reporter .summary li.pending a { color: #ba9d37; }
.jasmine_html-reporter .summary li.disabled a { color: #bababa; }
.jasmine_html-reporter .description + .suite { margin-top: 0; }
.jasmine_html-reporter .suite { margin-top: 14px; font-weight: 500; }
.jasmine_html-reporter .suite a { color: #333; }
.jasmine_html-reporter .failures .spec-detail { margin-bottom: 28px; }
.jasmine_html-reporter .failures .spec-detail .description { background-color: #ca3a11; }
.jasmine_html-reporter .failures .spec-detail .description a { color: white; }
.jasmine_html-reporter .result-message { padding-top: 14px; color: #333; white-space: pre; }
.jasmine_html-reporter .result-message span.result { display: block; }
.jasmine_html-reporter .stack-trace { margin: 5px 0 0 0; max-height: 224px; overflow: auto; line-height: 18px; color: #666; border: 1px solid #ddd; background: white; white-space: pre; }
